
.youtube {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.youtube iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 937px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 20px 100px;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
}
header.sticky {
  padding: 5px 100px;
  background: #fff;
}
header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;
}
header ul li a:hover {
  color: aquamarine;
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
}
header.sticky .logo,
header.sticky ul li a {
  color: #000;
}
header.sticky ul li a:hover {
  color: aquamarine;
}
