@import './main.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
body {
  /* min-height: 200vh; */
  height: 100vh;
  overflow: hidden;
}
